<section class="my-4 w-85 mx-auto">
  <div class="row g-4">
    <div class="col-md-3 ng-star-insterted" *ngFor="let item of categories">
      <div class="card" >
        <div class="card-img">
          <img

            alt=""
            class="img-fluid ratio-4x3 w-100"
            style="height: 300px"
            [src]="item.image"
          />
        </div>
        <div class="card-body">
          <p class="text-success h3 text-center ">{{item.name}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
