<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto">
  <h1>Register Now</h1>
  <form [formGroup]="loginForm" (ngSubmit)="handelForm()">
    <div class="form-item">
      <label for="email">email</label>
      <input
        formControlName="email"
        id="email"
        type="email"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          loginForm.get('email')?.touched && loginForm.get('email')?.errors
        "
      >
        <p *ngIf="loginForm.get('email')?.getError('required')">
          Email Is required
        </p>
        <p *ngIf="loginForm.get('email')?.getError('email')">Email in valid</p>
      </div>
    </div>

    <div class="form-item">
      <label for="rePassword">password</label>
      <input
        formControlName="password"
        id="password"
        type="password"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          loginForm.get('password')?.touched &&
          loginForm.get('password')?.errors
        "
      >
        <p *ngIf="loginForm.get('password')?.getError('required')">
          password Is required
        </p>
        <p *ngIf="loginForm.get('password')?.getError('pattern')">
          must be at least 6 chars
        </p>
      </div>
    </div>

    <button [disabled]="loginForm.invalid" type="submit " class="btn-main mt-2">
      Login
      <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
    </button>
    <p *ngIf="errMsg" class="alert alert-danger">{{ errMsg }}</p>


  </form>
  <button class="btn-link bg-info mt-3"><a routerLink="/setting/forgot">forgotPassword</a></button >
</section>
