<section
class="bg-main-light p-4 rounded my-3 w-50 mx-auto mt-5 shadow" *ngIf="step1">
<form  [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">

  <label for="email">email</label>
  <input  type="email" formControlName="email" class="form-control" id="email">

  <button class="btn-main w-100 mt-3">Forgot Password</button>
  <div *ngIf="resetCodeError" class="alert alert-danger">{{ resetCodeError}}</div>
</form>
</section>
<section
class="bg-main-light p-4 rounded my-3 w-50 mx-auto mt-5 shadow"

*ngIf="step2">
<form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">

  <label for="restCode">Rest Code</label>
  <input type="text" formControlName="resetCode" class="form-control"  id="restCode">
  <button class="btn-main w-100 mt-3">Reset Code</button>
  <div *ngIf="resetCodeError" class="alert alert-danger">{{ resetCodeError}}</div>
</form>

</section>
<section
class="bg-main-light p-4 rounded my-3 w-50 mx-auto mt-5 shadow"

*ngIf="step3">
<form [formGroup]="resetPassword" (ngSubmit)="newPassword()">

  <label for="restPassword">Reset Password</label>
  <input type="password" class="form-control" id="restPassword">
  <button class="btn-main w-100 mt-3" formControlName="resetPassword">Reset Password</button>
  <div *ngIf="resetCodeError" class="alert alert-danger">{{ resetCodeError}}</div>
</form>
</section>
